<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpModules>
      <remove name="TelemetryCorrelationHttpModule" />
    </httpModules>
  </system.webServer>
</configuration>
