<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="identityMetadataPolling" type="IdentityMetadataFetcher.Iis.Configuration.MetadataPollingConfigurationSection, IdentityMetadataFetcher.Iis" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpModules>
      <add name="IdentityMetadataPollingModule" type="IdentityMetadataFetcher.Iis.Modules.MetadataPollingHttpModule, IdentityMetadataFetcher.Iis" />
    </httpModules>
  </system.web>

  <system.webServer>
    <modules>
      <add name="IdentityMetadataPollingModule" type="IdentityMetadataFetcher.Iis.Modules.MetadataPollingHttpModule, IdentityMetadataFetcher.Iis" />
    </modules>
  </system.webServer>

  <identityMetadataPolling>
    <polling enabled="true" intervalMinutes="15" minimumPollIntervalMinutes="5">
      <endpoints>
        <add id="demo-idp" name="Demo IdP" endpoint="https://example.com/federationmetadata/2007-06/federationmetadata.xml" metadataType="SAML" />
      </endpoints>
    </polling>
  </identityMetadataPolling>
</configuration>
